@{
	ViewData["Title"] = "Login";
}

<h1>Log in!</h1>
<br />
<br />
<br />
<form action="/Home/Login" method="POST">
    <fieldset>
        <br />
        <br />

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required placeholder="Enter your username">
        <br />
        <br />

        <label for="password">Your Password:</label>
        <input type="password" id="password" name="password" required placeholder="Enter your password">
        <br />
        <br />

        <input type="checkbox">
        <label for="robot">Check this if you're not a robot</label>
        <br />

        <button type="submit" class="btn btn-dark">Login</button>
    </fieldset>
</form>
