<h1>Log in!</h1>

<form action="/Home/User" method="POST">
	<label for="name">Name: </label>
	<input type="text" id="name" name="name" required />

	<label for="password">Password: </label>
	<input type="password" id="password" name="password" required />

	<button type="submit" class="btn btn-dark">Send</button>
</form>
